/* styling container */
#form-container {
  width: 800px;
  background-color: rgb(32, 236, 32);
  padding: 60px 30px;
  position: relative;
  top: 0px;
  margin: 10px auto;
}
#form-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

/* styling form lables and input */
.form-section,
.checkbox-section {
  padding: 10px 0px;
  height: 40px;
  /* display: flex;
  justify-content: space-between; */
}
.form-section input,
.form-section textarea {
  /* flex-basis: 65%; */
  height: 25px;
  width: 60%;
  float: right;
}
.form-section textarea {
  height: 50px;
}
.form-section label {
  /* flex-basis: 30%; */
  width: 30%;
  font-size: 1.4rem;
  padding: 0px 15px;
}
/* styling submit button */
input[type="submit"] {
  display: block;
  width: 100px;
  background-color: rgb(221, 154, 30);
  height: 50px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
  cursor: pointer;
}

/* styling checkboxes */
.checkbox-section {
  margin-top: 10px;
}
.checkbox-section label {
  width: 80%;
  font-size: 1.4rem;
}
.checkbox-section input {
  padding: 0px 20px;
}
.error-mssg {
  height: 10px;
  width: 60%;
  float: right;
  margin-top: 2px;
  color: rgb(201, 25, 25);
  font-size: 1rem;
}
.checkbox-section .error-mssg {
  float: left;
}
.hide {
  visibility: hidden;
  position: fixed;
  top: 30px;
}

#message {
  width: 75%;
  background-color: blue;
  margin: 30px auto;
  padding: 50px;
  text-align: center;
  font-size: 1.25rem;
  background-color: rgb(32, 236, 32);
}
